body
{
	background-color:#0d0d26;
	font-family: 'Anonymous Pro', monospace;
}

#kontener
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	font-size:10px;
	
}

#tytul
{
	background-image: url(img/terra.jpg);
	text-align: center;
	background-position: center;
	font-size: 60px;
	color: black;
	letter-spacing: 5px;
	
	
}

.gracz
{
	background-image:url(img/terra2.jpg)

}

.imie
{	
	background-color:#29293d;
	color: red;
	width: 150px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding:5px;
	border: 3px solid red;
	font-size: 32px;
}

.surowiec
{
	border: 5px solid green;
	background-color:#79893d;
	margin:10px;
	padding: 50px;
	width: 200px;
	height: 120px;
	float:left;
	border-radius: 25px;
	
}

.nazwa_surowca
{
	width:90px;
	float:left;
	
	
}

.plus
{
	border: 3px solid black;
	background-color: green;
	cursor:pointer;
	filter: brightness(70%);
	font-size: 15px;
	padding: 2px;
	
}

.minus
{
	border: 3px solid black;
	background-color: red;
	cursor:pointer;
	filter: brightness(70%);
	font-size: 15px;
	padding: 2px;
}

.plus:hover
{
 border-color: #e6e600;	
 filter: brightness(100%);
}

.minus:hover
{
 border-color: #e6e600;	
 filter: brightness(100%);
}

.tura
{
	clear:both; 
	width: 80px;
	height: 34px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding:3px;
	border: 3px dotted red;
	cursor: pointer;
	color: red;
	background-color:#29293d;
	padding-top: 6px;
	padding-bottom: 10px;
}
.tura:hover
{
	background-color: yellow;
}
